
<div class="beer_form">
<%= form_for @beer do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :price %>:
  <%= f.text_field :price %><br />

  <%= f.submit %>
<% end %>
</div>
